/*------------------------------------------------------- Font Import */
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');

/*------------------------------------------------------- Root Variables */


/*------------------------------------------------------- Special Fonts */


/*------------------------------------------------------- Header */

/* Styling for navigation bar */
.navbar{
    background-color: #fafafa;
    width: 50vw;
    margin-bottom: 0;
    border: 0;
    right: 0;
    position: fixed;
    padding: 0px;
    height: 50px;
    z-index: 1;
}

/* Styling for logo */
.navbar-logo {
    background-color: #fafafa;
    height:50px;
    padding: 10px 0px 0px 10px;
    margin-bottom: 0;
    border: 0;
    position: fixed;
    width: 50vw;
    left: 0;
    z-index: 1;
}

/* Styling for nav links in navigation bar */
.nav-link {
    color: #3a3a3a;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: 400;
    font-family: "Exo", sans-serif;
    z-index: 1;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #3a3a3a;
    padding: 5px 10px;
    font-size: 125%;
    z-index: 1;
}

.navbar-toggler {
    margin: 0px 12px 12px 0px;
    border-color: #3a3a3a;
    background-color: #fafafa;
    z-index: 1;
}

.navbar-toggler-icon {
    border-color: #3a3a3a;
    z-index: 1;
}

.fa-bars {
    color: #3a3a3a;
    size: 75%;
    z-index: 1;
}

/*------------------------------------------------------- Home Page */

#homepage-hero-section{
    padding: 50px 0 20px 0;
    background-color: #fafafa;
}

#hero-image-home {
    background: url(../images/Hero-Image.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.75;
    width: 200vw;
    height: 30vh;
   
}

#page-title-div {
    background-color: #fafafa;
    padding: 10px 0 30px 0;
}

#about-us {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: #fafafa;
    background-color: #3a3a3a;
    width: 250px;
}

#slideshow-section {
    padding-top: 50px;
}

/* Styling for slideshow images section */
#c-style {
    margin: auto;
    float: left;
}
/* Calling in each image to slideshow to ensure responsiveness */
.c-image1 {
    background: url(../images/c-image1.jpg) no-repeat center top;   
    width: 100vw;
    min-height: 40vh;
}

#about-us-text {
    font-family: "Exo", sans-serif;
    font-size: 1.2em;
    color: #3a3a3a;
    padding-right: 200px;
    padding-left: 50px;
}

/* Contact form styling */
#get-in-touch {
    padding: 10px 20px 100px 20px;
    background-color: #fafafa;
}
#get-in-touch div{
    text-align: center;
}
#eget-in-touch h3 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
}
#get-in-touch p {
    text-align: left;
    padding-left: 5%;
}
#get-in-touch button {
    /* "Get in touch" Button styling */
    background-color: #3a3a3a;
    color: #fafafa;
    font-size: 1.2em;
}
#get-in-touch button:hover {
    background-color: #fafafa;
    color: #3a3a3a;
    border: 1px solid #3a3a3a;
}

/* Copied and edited from W3Schools example to style contact form */
input[type=text], input[type=email], textarea {
    width: 50%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

#location {
    align-items: center;
}

/*------------------------------------------------------- Footer */

.socials-large li a i {
        font-size: 1.75em;
        color: #fafafa;
        margin: 5px 5px;
    }

.socials-large li a i:hover {
        color: #aeaeae;
    }

.socials-large {
        background-color: var(--colour1);
        text-align: right;
        width: 50vw;
    }

.list-inline {
        margin: 10px 20px;
        float: right;
    }

.fixed-bottom {
      background-color: #3a3a3a;
}

/*------------------------------------------------------- Media Queries */

/* Breakpoint to maintain structural integrity on a Tablet device */
@media (max-width: 991px) {


/*--------------------------------- Footer Styling */

.socials-large li a i {
        font-size: 1.25em;
        color: #fafafa;
        margin: 5px 5px;
        text-align: center;
    }

.socials-large li {
        font-size: 1.25em;
        color: #fafafa;
        margin: 5px 5px;
        text-align: center;
    }

.socials-large {
        text-align: center;
        margin: auto;
        width: 50vw;
    }



}

/* Breakpoint to maintain structural integrity on a Laptop Screen */
@media (min-width: 991px){ 





}