/*------------------------------------------------------- Font Import */
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');

/*------------------------------------------------------- Root Variables */


/*------------------------------------------------------- Special Fonts */


/*------------------------------------------------------- Header */

/* Styling for navigation bar */
.navbar{
    background-color: #fafafa;
    width: 50vw;
    margin-bottom: 0;
    border: 0;
    right: 0;
    position: fixed;
    padding: 0px;
    height: 50px;
    z-index: 1;
}

/* Styling for logo */
.navbar-logo {
    background-color: #fafafa;
    height:50px;
    padding: 10px 0px 0px 10px;
    margin-bottom: 0;
    border: 0;
    position: fixed;
    width: 50vw;
    left: 0;
    z-index: 1;
}

.navbar-logo a img {
   text-align: left;
   max-width: 250px;
   max-height: 100px;
}

/* Styling for nav links in navigation bar */
.nav-link {
    color: #3a3a3a;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
    font-family: "Exo", sans-serif;
    z-index: 1;
    padding-left: 2em;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #3a3a3a;
    padding-left: 2.5em;
    font-size: 2.25em;
    z-index: 1;
}

.navbar-toggler {
    margin: 0px 12px 12px 0px;
    border-color: #3a3a3a;
    background-color: #fafafa;
    z-index: 1;
}

.navbar-toggler-icon {
    border-color: #3a3a3a;
    z-index: 1;
}

.fa-bars {
    color: #3a3a3a;
    size: 75%;
    z-index: 1;
}

/*------------------------------------------------------- Home Page */

#homepage-hero-section{
    padding: 60px 0 20px 0;
    background-color: #fafafa;
}

#hero-image-home {
    background: url(../images/Hero-Image.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.75;
    width: 200vw;
    height: 30vh;
}

#page-title-div {
    background-color: #fafafa;
    padding: 10px 0 30px 0;
}

#about-us {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: #fafafa;
    background-color: #3a3a3a;
    width: 250px;
}

#slideshow-section {
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Styling for slideshow images section */



/* Calling in each image to slideshow to ensure responsiveness */
.c-image1 {
    background: url(../images/c-image1.jpg) no-repeat center top;   
    min-height: 40vh;
}

.c-image2 {
    background: url(../images/c-image2.jpg) no-repeat center top;   
    min-height: 40vh;
}

.c-image3 {
    background: url(../images/c-image3.jpg) no-repeat center top;   
    min-height: 40vh;
}

.c-image4 {
    background: url(../images/c-image4.jpg) no-repeat center top;   
    min-height: 40vh;
}

.c-image5 {
    background: url(../images/c-image5.jpg) no-repeat center top;   
    min-height: 40vh;
}

.c-image6 {
    background: url(../images/c-image6.jpg) no-repeat center top; 
    min-height: 40vh;
}

.c-image7 {
    background: url(../images/c-image7.jpg) no-repeat center top;   
    min-height: 40vh;
}

#about-us-text p {
    font-family: "Exo", sans-serif;
    font-size: 2em;
    color: #3a3a3a;
    padding-right: 20%;

}

/* Contact form styling */
#get-in-touch {
    padding: 50px 20px 100px 20px;
    background-color: #fafafa;
}
#get-in-touch div{
    text-align: center;
}

#get-in-touch h3 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
}
#get-in-touch p {
    text-align: left;
    padding-left: 5%;
}
#get-in-touch button {
    /* "Get in touch" Button styling */
    background-color: #3a3a3a;
    color: #fafafa;
    font-size: 1.2em;
}
#get-in-touch button:hover {
    background-color: #fafafa;
    color: #3a3a3a;
    border: 1px solid #3a3a3a;
}

/* Copied and edited from W3Schools example to style contact form */
input[type=text], input[type=email], textarea {
    width: 25%;
    padding: 7px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

#location {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    width: 25vw;
    padding: 50px 0;
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
    font-size: 1.75em;
}

#live-location-div {
    margin: auto;
}

#live-location {
    margin: auto;
    text-align: center;
    padding-bottom: 75px;
    display: flex;
}

#live-location iframe {
    margin: auto;
}

/*------------------------------------------------------- The Team Page */
#teampage-hero-section{
    padding: 60px 0 20px 0;
    background-color: #fafafa;
}

#hero-image-team {
    background: url(../images/The-Team.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.75;
    width: 100vw;
    height: 30vh;
}

#the-team {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: #fafafa;
    background-color: #3a3a3a;
    width: 250px;
}

.coach-image {
    float: right;
    padding: 50px 50px 50px 200px;
    max-width: 40vw;
}

.coach-image-left {
    float: left;
    padding: 50px 200px 50px 50px;
    max-width: 35vw;
}

.coach-name {
    padding: 50px 0 10px 5%;
}

.coach-name-left {
    padding: 50px 5% 10px 0;
    float: right;
}

.coach-bio {
    font-size: 1.25em;
    font-family: "Exo", sans-serif;
    padding-left: 5%;
    padding-right: 30%;
}

.coach-bio-left {
    font-size: 1.25em;
    font-family: "Exo", sans-serif;
    padding-left: 30%;
    padding-right: 5%;
    float: right;
    text-align: right;
}

.fafa {
    background-color: #fafafa;
}

#final-row {
    padding-bottom: 100px;
}

/*------------------------------------------------------- Services Page */

#services-page-hero-section{
    padding: 60px 0 20px 0;
    background-color: #fafafa;
}

#hero-image-services {
    background: url(../images/c-image6.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.75;
    width: 200vw;
    height: 30vh;
}
.services-row {
    padding-bottom: 50px;
}

.final-services-row {
    padding-bottom: 100px;
}

.services-image {
    float: right;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    max-width: 60%;
    min-width: 50%;
}

.services-timetable {
    float: right;
    padding-right: 50px;
    margin-left: 300px;
}

.services-name {
    padding: 50px 0 10px 5%;
}

.services-bio {
    font-size: 1.25em;
    font-family: "Exo", sans-serif;
    padding-left: 5%;
    padding-right: 30%;
}

.th-location {
padding-right: 60%;
}

.th-day {
padding-right: 10%;
}

.th-time {
padding-right: 10%;
}

/*------------------------------------------------------- Footer */

.socials-large li a i {
        font-size: 2.5em;
        color: #fafafa;
        margin: 5px 5px;
        padding: 0 15px;
    }

.socials-large li a i:hover {
        color: #aeaeae;
    }

.socials-large {
        background-color: var(--colour1);
        text-align: right;
        width: 50vw;
    }

.list-inline {
        margin: 10px 20px;
        float: right;
    }

.fixed-bottom {
      background-color: #3a3a3a;
}

/*------------------------------------------------------- Media Queries */

/* Breakpoint to maintain structural integrity on a Tablet or mobile device */

 /*--------------------------------- Homepage Styling */
@media (max-width: 991px) {

.navbar-logo a img {
   text-align: left;
   max-width: 125px;
   max-height: 50px;
}

#homepage-hero-section{
    padding: 50px 0 0 0;
    background-color: #fafafa;
}

#about-us {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: #fafafa;
    background-color: #3a3a3a;
    width: 130px;
    font-size: x-large;
}

#page-title-div {
    padding: 10px 0 10px 0;
}

#slideshow-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

#about-us-text p {
    font-family: "Exo", sans-serif;
    font-size: 1em;
    color: #3a3a3a;
    padding: 10px;
}

input[type=text], input[type=email], textarea {
    width: 80%;
    padding: 7px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

#location {
    font-size: 1em;
    width: 50vw;
    padding-top: 50px;
    padding-bottom: 20px;
}

.socials-large li a i{
        font-size: 1.5em;
        color: #fafafa;
        margin: 5px 5px;
        float: left;
        text-align: center;
        padding: 0 5px;
    }

    .list-inline {
        margin: 1px 20px;
    }

/*--------------------------------- Team page Styling */

.reverse-divs {
    flex-direction: column-reverse;
}

.coach-image {
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 90vw;
}

.coach-image-left {
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 90vw;
}

.coach-name {
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

.coach-name-left {
    text-align: center;
    padding-top: 20px;
    float: none;
}

.coach-bio {
    font-size: 1em;
    font-family: "Exo", sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

.coach-bio-left {
    font-size: 1em;
    font-family: "Exo", sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

}


/* Breakpoint to maintain structural integrity on a Laptop Screen */
@media (min-width: 991px){ 





}